<!DOCTYPE html>
<html lang="zh-CN">
    <head>
        <script type="text/javascript" th:src="@{/js/jquery-1.8.0.min.js}"></script>
        <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet"/>
        <link th:href="@{/css/default.css}" rel="stylesheet"/>
        <link rel="icon" th:href="@{/images/bocon_favicon.ico}" type="image/x-icon"/>
        <meta charset="UTF-8"/>
        <meta http-equiv="refresh" content="5" />
        <title>数据列表</title>
    </head>

    <body>
        <div class="contentDiv">

            <h5>数据列表</h5>

			<table class="table table-hover table-condensed">  
              <tr>  
                <th width="100px;">接收时间</th>  
                <th>数据报文</th>  
              </tr>  
              <tr  th:each="data: ${dataPackages}">  
                <td th:text="${data.time}">Onions</td>  
                <td th:text="${data.msg}">test@test.com.cn</td>  
              </tr> 
		    </table>  
        </div>
    </body>
</html>