<!DOCTYPE html>
<html lang="zh-CN">
    <head>
        <script type="text/javascript" th:src="@{https://cdn.bootcss.com/jquery/3.2.1/jquery.min.js}"></script>
        <link th:href="@{https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css}" rel="stylesheet"/>
        <link th:href="@{/css/default.css}" rel="stylesheet"/>
        <link rel="icon" th:href="@{/images/favicon.ico}" type="image/x-icon"/>
        <meta charset="UTF-8"/>
        <title>文件管理</title>
    </head>

    <body>
        <div class="contentDiv">

            <h5></h5>

            <legend>
                <strong>文件上传</strong>
            </legend>

			<form action="/myupload" method="post" id="uploadform" enctype="multipart/form-data">
				<table class="table">  
			        <tr>
			        	<td>
			        		<input type="file" name="file" id="file"/>
			        	</td>
			        	<td>
			        		<input type="submit" name="上传" value="提交"  />
			        	</td>			        	
			        </tr>
			    </table>  
		    </form>
        </div>
    </body>
</html>